body.dark {
    background-color: #404040;
    color: white;
    border-color: white;
}

.dark svg {
    fill: white;
    stroke: white;
}



.dark nav, .dark main {
    border-color: white;
}

.dark ul li {
    border-color: white;
}

.dark #explorer li.folder {
    background-color: #303030;
}

.dark .btn {
    border-color: white;
}


.dark #explorer.ssh div.file {
	color: #00af00;
}

.dark #explorer.ssh div.folder {
	color: #4242b8;
}



.dark .bar .size {
    background-color: #404040c0;
}

.dark .bar .slider {
    background-color: darkblue;
}

.dark .bar.success .slider {
    background-color: darkgreen;
}

.dark .bar.error .slider {
    background-color: darkred;
}
