ul {
	height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	overflow: auto;
}

ul li {
	border: 1px solid black;
	display: flex;
	justify-items: stretch;
	width: calc(100% - 2px);
	word-break: break-word;
}

ul li span {
	overflow-x: auto;
	width: 100%;
}

/* ul li button, */
ul li .btn {
	border-left: 1px solid black;
	display: block;
	max-height: 100%;
	max-width: 1.1em;
	padding: 0.1em;
	width: 100%;
}

/*ul li .btn::after {
    content: "";
    display: block;
    padding-top: 100%;
}*/

ul li svg {
	display: block;
	height: 100%;
	width: 100%;
}


ul li.menu {
	flex-wrap: nowrap;
	white-space: nowrap;
	word-break: keep-all;
}
